.js-title{
    font-size: 72pt;
}
body{
    background-color: blanchedalmond;
}

.btn{
    cursor: pointer;
}

.clicked{
    color:#7f8c8d;
}

.form,
.greetings{
    display: none;
}

.showing{
    display: block;
}